@import "css/colorscheme-catppuccin-mocha.scss";

$whitespace: 10px;
$system-whitespace: 20px;
$border-radius: 5px;

// Reset everything

* {
  all: unset;
  color: $base;
  font-family: system-ui;
  font-weight: 500;
  font-size: 15;
}

@import "css/general.scss";

@import "css/widgets.scss";
