@import "colors/_colorscheme-catppuccin-mocha.scss";

$whitespace: 5px;
$system-whitespcae: 15px;

// General

* {
  all: unset;
  color: $base;
  font-family: system-ui;
  font-size: 20;
}

// Layout

.layout {
  margin-left: $system-whitespcae;
  margin-right: $system-whitespcae;
  margin-top: $whitespace;

  background-color: $blue;
}

.container-left {
  background-color: $red;
  padding-left: $whitespace;
  padding-right: $whitespace;
}
.container-center {
  background-color: $mauve;
}
.container-right {
  background-color: $yellow;
  padding-left: $whitespace;
  padding-right: $whitespace;
}

.widget {
  background-color: $teal;
  padding-left: $whitespace;
  padding-right: $whitespace;

  border-radius: 5px;
}

// System widgets

.cpu {
  background-color: $mauve;
}

.ram {
  background-color: $lavender;
}

.temp {
  background-color: $blue;
}

// control widgets

.sound {
  background-color: $sapphire;
}

.wifi {
  background-color: $teal;
}

.battery {
  background-color: $green;
}

.time {
  background-color: $peach;
}
