// Control widgets

.sound {
  background-color: $sky;
}

.brightness {
  background-color: $yellow;
}

.network,
.bluetooth {
  background-color: $teal;
}

.network:hover,
.bluetooth:hover {
  background-color: rgba($color: $teal, $alpha: 0.9);
}

.battery {
  background-color: $green;
}

.battery:hover {
  background-color: rgba($color: $green, $alpha: 0.9);
}

.time {
  background-color: $peach;
}

.time:hover {
  background-color: rgba($color: $peach, $alpha: 0.9);
}

.systray {
  background-color: $surface0;

  * {
    color: $text;
  }

  menu {
    padding: $whitespace;
    background-color: $surface0;
    border-radius: $border-radius;

    menuitem {
      padding: $whitespace/2;
      border-radius: $border-radius;

      &:hover {
        background-color: $surface1;
      }

      &:disabled label {
        color: $surface2;
      }
    }

    separator {
      margin-top: $whitespace/2;
      margin-bottom: $whitespace/2;
      min-height: 2px;
      border-radius: 99px;
      background-color: $surface1;
    }
  }
}
