// System widgets

.cpu {
  background-color: $mauve;
}

.ram {
  background-color: $lavender;
}

.temperature {
  background-color: $blue;
}

.net-up {
  background-color: $sapphire;
}

.net-down {
  background-color: $sapphire;
}
