[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/catppuccin"]
	path = tmux/catppuccin
	url = https://github.com/catppuccin/tmux.git
[submodule "kitty/catppuccin"]
	path = kitty/catppuccin
	url = https://github.com/catppuccin/kitty.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/plugins/zsh-you-should-use"]
	path = zsh/plugins/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "btop/catppuccin"]
	path = btop/catppuccin
	url = https://github.com/catppuccin/btop.git
[submodule "bat/catppuccin"]
	path = bat/catppuccin
	url = https://github.com/catppuccin/bat.git
[submodule "hypr/catppuccin"]
	path = hypr/catppuccin
	url = https://github.com/catppuccin/hyprland
[submodule "wallpapers/catppuccin"]
	path = wallpapers/catppuccin
	url = https://github.com/zhichaoh/catppuccin-wallpapers
[submodule "hypr/hyprlock-catppuccin"]
	path = hypr/hyprlock-catppuccin
	url = https://github.com/catppuccin/hyprlock
[submodule "grub/catppuccin"]
	path = grub/catppuccin
	url = https://github.com/catppuccin/grub
[submodule "thunderbird/catppuccin"]
	path = thunderbird/catppuccin
	url = https://github.com/catppuccin/thunderbird
[submodule "scripts/hyprwm-contrib"]
	path = scripts/hyprwm-contrib
	url = https://github.com/hyprwm/contrib
