@import "scss/other.scss";
@import "scss/controls.scss";
@import "scss/system.scss";
@import "scss/workspace.scss";

.systray {
  background-color: $overlay2;

  menu {
    padding: $whitespace;
    background-color: $overlay2;

    border-style: solid;
    border-width: $border-size;
    border-color: $base;
    border-radius: $border-radius;

    menuitem {
      margin: 1px 0;
    }

    separator {
      margin-top: $whitespace/2;
      margin-bottom: $whitespace/2;
      min-height: 2px;
      border-radius: 99px;
      background-color: $surface2;
    }
  }
}
