.bluetooth-list {
  background-color: $teal;
  padding: $whitespace;
  border-radius: $border-radius;
  margin: $system-whitespace;
  box-shadow: 0px 0px 10px $crust;
}

.bluetooth-el,
.bluetooth-unpair {
  padding: $whitespace/2;
  border-radius: $border-radius;
}

.bluetooth-el:hover {
  background-color: rgba($color: $base, $alpha: 0.1);
}

.bluetooth-el .subtext {
  color: $overlay0;
}

.bluetooth-unpair:hover {
  background-color: $red;
}

.tmp {
  background-color: red;
}
.tmp2 {
  background-color: white;
}
