// Layout

.layout {
  margin-left: $system-whitespcae;
  margin-right: $system-whitespcae;
}

.container-center {
  background-color: $mauve;
}

// Base styles

.metric scale trough highlight {
  background-color: $surface2;
  border-radius: 100px;
}

.metric scale trough {
  background-color: $base;
  border-radius: 100px;
  min-height: 15px;
  min-width: 150px;
  margin-right: $whitespace;
}

.widget {
  background-color: $teal;
  padding-left: $whitespace;
  padding-right: $whitespace;

  border-radius: $border-radius;
}

.tooltip {
  padding-top: $whitespace/2;
  padding-bottom: $whitespace/2;
}
