// System widgets

.cpu {
  background-color: $mauve;
}

.ram {
  background-color: $lavender;
}

.temperature {
  background-color: $blue;
}

.net-up {
  background-color: $sapphire;
}

.net-down {
  background-color: $sapphire;
}

// Control widgets

.sound {
  background-color: $sky;
}

.brightness {
  background-color: $yellow;
}

.network {
  background-color: $teal;
}
.network:hover {
  background-color: rgba($color: $teal, $alpha: 0.9);
}

.ssid-list {
  background-color: $teal;
  padding: $whitespace;
  border-radius: $border-radius;
  margin-right: 100px;
}

.ssid {
  padding: $whitespace/2;
  border-radius: $border-radius;
}

.ssid:hover {
  background-color: rgba($color: $base, $alpha: 0.1);
}

.battery {
  background-color: $green;
}

.battery:hover {
  background-color: rgba($color: $green, $alpha: 0.9);
}

.time {
  background-color: $peach;
}

.time:hover {
  background-color: rgba($color: $peach, $alpha: 0.9);
}
