$whitespace: 10px;
$system-whitespace: 20px;
$border-radius: 5px;
$border-size: 2px;

// Reset everything

* {
  all: unset;
  color: $base;
  font-family: system-ui;
  font-weight: 500;
  font-size: 15;
}

// Base styles

.metric scale trough highlight {
  background-color: $surface2;
  border-radius: 100px;
}

.metric scale trough {
  background-color: $base;
  border-radius: 100px;
  min-height: 15px;
  min-width: 150px;
  margin-right: $whitespace;
}

.widget {
  padding-left: $whitespace;
  padding-right: $whitespace;
  border-radius: $border-radius;
}

tooltip label {
  color: $base;

  padding-left: $whitespace;
  padding-right: $whitespace;
  padding-top: $whitespace/2;
  padding-bottom: $whitespace/2;

  border-radius: $border-radius;
  background: $overlay0;
}
